<% provide(:title, 'About Bento') %>
<h1>About Bento</h1>
<p>It's pretty great!</p>
<p><a href="http://justbento.com">Learn to make bento</a><br>
<a href="http://railstutorial.org">Learn to make app</a></p>
